<%- include('partials/header', { backgroundClass: 'default-background' }) %>



<main class="container my-auto mx-auto items-center">
          
    <section class="flex flex-col items-center justify-center my-20 lg:my-28 mx-auto p-8 lg:py-0">
      <div class="w-full bg-customTrWhite rounded-2xl backdrop-blur-mg border border-white border-width-1 border-opacity-20">
        <div class="p-6 space-y-6 sm:p-8">
          <h1 class="mb-12 text-justify font-satoshi font-black leading-tight text-white text-3xl">
            Conditions Générales de Vente
          </h1>
          <div class="">
            <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
              Introduction
            </h2>
            <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
              Les présentes Conditions Générales de Vente (ci-après dénommées "CGV") régissent l'ensemble des relations entre Immoly, ayant son siège à Gland, Suisse (ci-après dénommée "la Société"), et les clients (ci-après dénommés "le Client") souhaitant effectuer un achat sur le site internet de la Société. En passant une commande sur le site, le Client accepte sans réserve les présentes CGV. Les CGV sont susceptibles d'être modifiées à tout moment par la Société. Les CGV applicables sont celles en vigueur au moment de la commande.
            </h5>
          </div>

          <div class="">
            <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
              Produits et services
            </h2>
            <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
              La Société propose à la vente des services liés à iMap, un logiciel de cartographie interactif innovant dédié au marché immobilier suisse. Les caractéristiques détaillées des services sont présentées sur le site internet de la Société.
            </h5>
          </div>

          <div class="">
            <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
              Prix
            </h2>
            <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
              Les prix des services sont indiqués en francs suisses, toutes taxes comprises. La Société se réserve le droit de modifier les prix à tout moment, mais les services seront facturés sur la base des tarifs en vigueur au moment de la validation de la commande.
            </h5>
          </div>

          <div class="">
            <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
              Commande
            </h2>
            <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
              Le Client peut passer commande directement sur le site internet de la Société. La commande est considérée comme acceptée par la Société une fois le paiement intégral reçu.
            </h5>
          </div>

          <div class="">
            <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
              Paiement
            </h2>
            <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
              Le paiement des commandes s'effectue en ligne, par carte bancaire, via un système de paiement sécurisé. La transaction est immédiatement débitée sur la carte bancaire du Client.
            </h5>
          </div>

          <div class="">
            <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
              Livraison des services
            </h2>
            <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
              La Société s'engage à fournir les services commandés dans un délai raisonnable, généralement dans les 24 heures suivant la validation de la commande. Les services sont fournis sous forme électronique, par e-mail ou via l'espace client sur le site de la Société.
            </h5>
          </div>

          <div class="">
            <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
              Rétractation et remboursement
            </h2>
            <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
              Conformément à la réglementation applicable, le droit de rétractation ne s'applique pas aux services fournis par la Société, dès lors que la prestation de services a été pleinement exécutée avant la fin du délai de rétractation. Toutefois, la Société s'engage à étudier au cas par cas les demandes de remboursement et à proposer une solution adaptée aux besoins du client.
            </h5>
          </div>

          <div class="">
            <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
              Responsabilité
            </h2>
            <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
              La Société ne peut être tenue pour responsable en cas de non-exécution ou de mauvaise exécution des services due à un fait imputable au Client, à un cas de force majeure, ou à toute autre cause indépendante de la volonté de la Société.
            </h5>
          </div>

          <div class="">
            <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
              Propriété intellectuelle
            </h2>
            <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
              Tous les éléments du site de la Société, tels que les textes, images, logos, sont la propriété exclusive de la Société et sont protégés par le droit d'auteur. Toute reproduction, modification ou utilisation non autorisée de ces éléments est strictement interdite.
            </h5>
          </div>

          <div class="">
            <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
              Loi applicable et juridiction
            </h2>
            <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
              Les présentes CGV sont soumises au droit suisse. Tout litige relatif à l'interprétation, la validité ou l'exécution des présentes CGV sera soumis à la compétence exclusive des tribunaux suisses.
            </h5>
          </div>

          <div class="">
            <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
              Données personnelles
            </h2>
            <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
              La Société collecte et traite les données personnelles des Clients conformément à sa Politique de Confidentialité, disponible sur le site internet. La Société s'engage à protéger la confidentialité et la sécurité des données personnelles des Clients, conformément à la réglementation en vigueur, notamment le Règlement Général sur la Protection des Données (RGPD).
            </h5>
          </div>

          <div class="">
            <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
              Service client
            </h2>
            <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
              Pour toute question ou réclamation relative aux services, aux CGV ou à la Politique de Confidentialité, le Client peut contacter la Société par e-mail à l'adresse immoly.app@gmail.com.
            </h5>
          </div>

          <div class="">
            <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
              Modification des CGV
            </h2>
            <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
              La Société se réserve le droit de modifier les présentes CGV à tout moment. Les modifications entreront en vigueur dès leur publication sur le site internet de la Société. Les CGV applicables sont celles en vigueur au moment de la commande.
            </h5>
          </div>

          <div class="">
            <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
              Intégralité
            </h2>
            <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
              Si l'une quelconque des dispositions des présentes CGV était déclarée nulle ou inopposable en tout ou partie, cette nullité ou inopposabilité n'affecterait pas la validité des autres dispositions des CGV, sauf si celle-ci était d'une importance telle qu'elle aurait pu remettre en cause l'équilibre contractuel des présentes.
            </h5>
          </div>

          <div class="">
            <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
              Non-renonciation
            </h2>
            <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
              Le fait pour la Société de ne pas se prévaloir à titre temporaire ou permanent d'une ou plusieurs dispositions des présentes CGV ne saurait valoir renonciation à l'application de ladite disposition ou de toute autre disposition des présentes CGV.
            </h5>
          </div>

          
        </div>
      </div>
    </section>
  
  
</main>



<%- include('partials/footer'); -%>