<%- include('partials/header', { backgroundClass: 'index-background' }) %>



  <!--Main-->
  <main class="flex-grow container mx-auto flex flex-wrap flex-col md:flex-row justify-center">

    <section class="hero mt-20 lg:mt-48 justify-center text-center">

      <h1 class="font-satoshi font-black sm:text-4.5xl md:text-6xl text-white sm:mb-16 md:mb-14" style="line-height: 1.2;">
        Optimisez vos<br>
        <span style="line-height: 1.2; background: rgb(27,232,221); background: linear-gradient(121deg, rgba(27,232,221,1) 0%, rgba(112,30,213,1) 30%, rgba(236,41,219,1) 100%); background-clip: text; -webkit-background-clip: text; color: transparent;">investissements immobiliers</span>
      </h1>
      <h5 class="hidden lg:block font-satoshi font-medium text-lg text-zinc-400 mb-14 mx-52 text-center">
        Chaque décision d'investissement compte. Imaginez pouvoir visualiser le potentiel de retour sur investissement pour chaque commune, anticiper les tendances du marché immobilier et maximiser vos profits. Notre puissant outil SAAS révolutionne la façon dont vous abordez l'investissement immobilier. Avec des calculs précis basés sur le prix au mètre carré à l'achat et à la location, iMap vous donne l'avantage dont vous avez besoin pour prendre des décisions éclairées. Transformez vos investissements aujourd'hui avec Immoly - votre partenaire pour un avenir immobilier prospère.
      </h5>
      <h5 class="block lg:hidden font-satoshi font-medium text-lg text-zinc-400 mb-14 mx-8 text-justify">
        Chaque décision d'investissement compte. Imaginez pouvoir visualiser le potentiel de retour sur investissement pour chaque commune, anticiper les tendances du marché immobilier et maximiser vos profits. Notre puissant outil SAAS révolutionne la façon dont vous abordez l'investissement immobilier en vous donnant les informations dont vous avez besoin afin de prendre des décisions éclairées.
      </h5>
        <div class="flex">
          <a href="#plans" class="button text-white bg-customTrWhite py-4 px-6 mx-auto rounded-4xl backdrop-blur-md shadow-md border border-white border-width-1 border-opacity-20 hover:scale-105 hover:shadow-customWhite duration-300">Commencer</a>
        </div>
    </section>


    <imap class="mt-64 md:mt-72 lg:mt-96 justify-center relative text-center">

      <div class="block md:hidden overflow-hidden" style="position: absolute; width: 100%; height: 100vh;">
        <div class="block md:hidden -z-50 overflow-hidden" style="position: absolute; top: 5%; right: -90%;"><img src="../Z_Images/taches/d_violet.png" class=""></div>
      </div>
      <h1 class="relative font-satoshi font-black text-4xl md:text-5xl text-white">iMap
        <div class="absolute top-1 left-1/2 transform -translate-x-1/2 -translate-y-1/2 -z-10">
          <img src="../Z_Images/white_icons/swisscharticon.png" class="h-36 md:h-44 lg:h-48">
        </div>
      </h1>

      <div class="sm:mt-8 md:mt-14 mx-8 md:mx-auto flex flex-col lg:flex-row md:bg-customTrWhite rounded-4xl md:backdrop-blur-md md:shadow-md md:border border-white border-width-1 border-opacity-10">
        <div class="sm:h-95 h-100 sm:w-80 w-100 mb-10 md:my-10 mx-auto md:mx-10 bg-customTrWhite rounded-4xl backdrop-blur-md border border-white border-width-1 border-opacity-20">
          <div class="sm:mt-7 md:mt-5 mx-5"><img src="../Z_Images/preview_images/Map_image2.png" alt="Preview image iMap" class="drop-shadow-lg"></div>
          <ul class="sm:mt-8 md:mt-6 sm:mx-5 md:mx-6 center text-justify sm:text-md text-lg sm:text-white text-black leading-snug list-disc">
            <li class="ml-6"><p class="mr-5">Visualisez instantanément le retour sur investissement de 200+ communes, gagnant ainsi un temps précieux dans votre processus de prise de décision.</p></li>
            <li class="ml-6"><p class="mr-5 mt-6">En un clic sur une commune, accédez rapidement aux détails spécifiques, économisant un temps précieux et facilitant des décisions plus précises.</p></li>
            <li class="ml-6"><p class="mr-5 mt-6">Découvrez de manière intuitive les opportunités les plus prometteuses en transformant la complexité des données en une représentation visuelle claire, simplifiant ainsi votre analyse.</p></li>
          </ul>
        </div>

        <div class="sm:h-95 h-100 sm:w-80 w-100 md:my-10 mx-auto md:mx-10 bg-customTrWhite rounded-4xl backdrop-blur-md border border-white border-width-1 border-opacity-20">
          <div class="sm:mt-7 md:mt-5 mx-5"><img src="../Z_Images/preview_images/Table_image2.png" alt="Preview image Table" class="drop-shadow-lg"></div>
          <ul class="sm:mt-8 md:mt-6 sm:mx-5 md:mx-6 center text-justify sm:text-md text-lg sm:text-white text-black leading-snug list-disc">
            <li class="ml-6"><p class="mr-5">Organisez les données à votre convenance, que ce soit par canton, prix au mètre carré à l'achat, à la location, ou encore par ROI, pour un contrôle total sur votre analyse.</p></li>
            <li class="ml-6"><p class="mr-5 mt-6">Accédez instantanément à des informations pertinentes sans perdre de temps à naviguer, grâce à la fluidité de Table, pour des décisions rapides et éclairées.</p></li>
            <li class="ml-6"><p class="mr-5 mt-6">Profitez d'un outil puissant conçu pour les professionnels de l'immobilier, maximisant vos investissements et augmentant votre efficacité opérationnelle.</p></li>
          </ul>
        </div>
      </div>

    </imap>
    

    <plans id="plans" class="mt-64 md:mt-72 justify-center relative text-center">

      <div class="overflow-hidden" style="position: absolute; width: 100%; height: 100vh;">
        <div class="block md:hidden -z-50 overflow-hidden" style="position: absolute; top: 20%; left: -100%;"><img src="../Z_Images/taches/m_roseviolet.png" class=""></div>
      </div>
      <img src="">
      <h1 class="relative font-satoshi font-black text-4xl md:text-5xl text-white">Plans
      </h1>
      
      <div class="mt-12 md:mt-14 mx-8 md:mx-auto flex flex-col lg:flex-row">
        <div class="sm:h-95 h-100 sm:w-80 w-100 mb-16 lg:mb-0 mx-auto md:mx-10 bg-customTrWhite rounded-4xl backdrop-blur-md border border-white border-width-1 border-opacity-20">
          <div class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 drop-shadow-xl">
            <img src="../Z_Images/gemstones/blue_gemstone.png" class="h-16 md:h-20">
          </div>
          <p class="mt-10 md:mt-14 text-white text-3xl font-satoshi font-bold">Mensuel</p>
          <p class="mt-6">
            <span class="mr-3 text-base font-medium text-slate-500">CHF</span>
            <span class="text-4xl font-bold text-white tracking-tighter">49</span>
            <span class="ml-1 text-base font-medium text-slate-500">/mo</span>
          </p>
          <hr class="mt-6 mx-8 border-opacity-40 border-gray-200">

          <ul class="sm:my-8 md:my-10 ml-8 list-inside text-justify">
            <li class="flex">
              <img src="../Z_Images/checkboxes/checkbox_green2.png" class="h-6 mr-4">
              <p class="text-white mr-8">Accès complet à iMap avec 200+ communes</p>
            </li>
            <li class="flex mt-7">
              <img src="../Z_Images/checkboxes/checkbox_green2.png" class="h-6 mr-4">
              <p class="text-white mr-8">Visualisation instantanée des ROIs sur iMap</p>
            </li>
            <li class="flex mt-7">
              <img src="../Z_Images/checkboxes/checkbox_green2.png" class="h-6 mr-4">
              <p class="text-white mr-8">Détails spécifiques par commune en un clic</p>
            </li>
            <li class="flex mt-7">
              <img src="../Z_Images/checkboxes/checkbox_green2.png" class="h-6 mr-4">
              <p class="text-white mr-8">Contrôle total du tri sur l'analyse des données</p>
            </li>
            <li class="flex mt-7">
              <img src="../Z_Images/checkboxes/checkbox_cross_red.png" class="h-6 mr-4 -mt-0.5">
              <p class="text-white mr-8">Économisez près de 300CHF par an avec notre offre annuelle exclusive, soit 50% de réduction par rapport au tarif mensuel.</p>
            </li>
          </ul>
          
          <hr class="sm:mb-5 md:mb-8 mx-8 border-opacity-40 border-gray-200">
          <div class="flex items-center justify-center">
            <a href="/signup" class="button text-white py-4 sm:px-26 md:px-30 mx-8 rounded-2xl bg-gradient-to-r from-violet-700 to-blue-500 hover:shadow-customBlue hover:scale-103 duration-300">S'inscrire</a>
          </div>
        </div>

        <div class="sm:h-95 h-100 sm:w-80 w-100 mx-auto md:mx-10 bg-customTrWhite rounded-4xl backdrop-blur-md border border-white border-width-1 border-opacity-20">
          <div class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 drop-shadow-xl">
            <img src="../Z_Images/gemstones/gold_gemstone2.png" class="h-16 md:h-20">
          </div>
          <p class="mt-10 md:mt-14 text-white text-3xl font-satoshi font-bold">Annuel</p>
          <p class="mt-6">
            <span class="mr-3 text-base font-medium text-slate-500">CHF</span>
            <span class="text-4xl font-bold text-white tracking-tighter">25</span>
            <span class="ml-1 text-base font-medium text-slate-500">/mo</span>
          </p>
          <hr class="mt-6 mx-8 border-opacity-40 border-gray-200">
          
          <ul class="sm:my-8 md:my-10 ml-8 list-inside text-justify">
            <li class="flex">
              <img src="../Z_Images/checkboxes/checkbox_green2.png" class="h-6 mr-4">
              <p class="text-white mr-8">Accès complet à iMap avec 200+ communes</p>
            </li>
            <li class="flex mt-7">
              <img src="../Z_Images/checkboxes/checkbox_green2.png" class="h-6 mr-4">
              <p class="text-white mr-8">Visualisation instantanée des ROIs sur iMap</p>
            </li>
            <li class="flex mt-7">
              <img src="../Z_Images/checkboxes/checkbox_green2.png" class="h-6 mr-4">
              <p class="text-white mr-8">Détails spécifiques par commune en un clic</p>
            </li>
            <li class="flex mt-7">
              <img src="../Z_Images/checkboxes/checkbox_green2.png" class="h-6 mr-4">
              <p class="text-white mr-8">Contrôle total du tri sur l'analyse des données</p>
            </li>
            <li class="flex mt-7">
              <img src="../Z_Images/checkboxes/checkbox_green2.png" class="h-6 mr-4 -mt-0.5">
              <p class="text-white mr-8">Économisez près de 300CHF par an avec notre offre annuelle exclusive, soit 50% de réduction par rapport au tarif mensuel.</p>
            </li>
          </ul>

          <hr class="sm:mb-5 md:mb-8 mx-8 border-opacity-40 border-gray-200">
          <div class="flex items-center justify-center">
            <a href="/signup" class="button text-white py-4 sm:px-26 md:px-30 mx-8 rounded-2xl bg-gradient-to-r from-violet-700 to-fuchsia-600 hover:shadow-customPurple hover:scale-103 duration-300">S'inscrire</a>
          </div>
        </div>

      </div>
    </plans>


    <faq id="faq" class="mt-64 md:mt-72 mb-40 md:mb-52 justify-center relative text-center">

      <div class="block md:hidden overflow-hidden" style="position: absolute; width: 100%; height: 100vh;">
        <div class="block md:hidden -z-50 overflow-hidden" style="position: absolute; top: 20%; right: -60%;"><img src="../Z_Images/taches/m_violetbleu.png" class=""></div>
      </div>
      <img src="">
      <h1 class="relative font-satoshi font-black text-4xl md:text-5xl text-white">Une question ?
      </h1>

      <div class="mt-12 md:mt-14 mx-8 md:mx-auto">
        <ul class="flex flex-col">
          <li class="mx-2 md:mx-24 lg:mx-72 py-2 px-6 text-justify text-white bg-customTrWhite rounded-lg backdrop-blur-md shadow-md border border-white border-width-1 border-opacity-20" x-data="accordion(1)">
            <h2 @click="handleClick()" class="flex flex-row justify-between items-start py-3 cursor-pointer">
              <span>Comment iMap collecte-t-il les données sur les prix immobiliers ?</span>
              <img :class="handleRotate()" src="../Z_Images/checkboxes/down_arrow.png" alt="Show answer button" class="h-5 w-5 ml-5 transform transition-transform duration-500">
            </h2>
            <div class="overflow-hidden max-h-0 duration-500 transition-all" x-ref="tab" :style="handleToggle()">
              <p class="mt-4 mb-2">
                iMap s'appuie sur une base de données comprenant plus de 20'000 éléments, régulièrement mise à jour, garantissant des informations actuelles et précises.
              </p>
            </div>
          </li>

          <li class="mt-6 mx-2 md:mx-24 lg:mx-72 py-2 px-6 text-justify text-white bg-customTrWhite rounded-lg backdrop-blur-md shadow-md border border-white border-width-1 border-opacity-20" x-data="accordion(2)">
            <h2 @click="handleClick()" class="flex flex-row justify-between items-start py-3 cursor-pointer">
              <span>Quelle est la portée géographique de iMap ?</span>
              <img :class="handleRotate()" src="../Z_Images/checkboxes/down_arrow.png" alt="Show answer button" class="h-5 w-5 ml-5 transform transition-transform duration-500">
            </h2>
            <div class="overflow-hidden max-h-0 duration-500 transition-all" x-ref="tab" :style="handleToggle()">
              <p class="mt-4 mb-2">
                Actuellement, iMap couvre plus de 200 communes suisses, avec un plan d'expansion prévu pour inclure encore plus de régions prochainement.
              </p>
            </div>
          </li>

          <li class="mt-6 mx-2 md:mx-24 lg:mx-72 py-2 px-6 text-justify text-white bg-customTrWhite rounded-lg backdrop-blur-md shadow-md border border-white border-width-1 border-opacity-20" x-data="accordion(3)">
            <h2 @click="handleClick()" class="flex flex-row justify-between items-start py-3 cursor-pointer">
              <span>Quels types d'informations spécifiques puis-je obtenir pour chaque commune ?</span>
              <img :class="handleRotate()" src="../Z_Images/checkboxes/down_arrow.png" alt="Show answer button" class="h-5 w-5 ml-5 transform transition-transform duration-500">
            </h2>
            <div class="overflow-hidden max-h-0 duration-500 transition-all" x-ref="tab" :style="handleToggle()">
              <p class="mt-4 mb-2">
                Pour chaque commune, iMap fournit le prix moyen au mètre carré pour l'achat et la location, ainsi que le retour sur investissement (ROI), permettant une analyse complète des opportunités.
              </p>
            </div>
          </li>

          <li class="mt-6 mx-2 md:mx-24 lg:mx-72 py-2 px-6 text-justify text-white bg-customTrWhite rounded-lg backdrop-blur-md shadow-md border border-white border-width-1 border-opacity-20" x-data="accordion(4)">
            <h2 @click="handleClick()" class="flex flex-row justify-between items-start py-3 cursor-pointer">
              <span>Est-ce que iMap offre des fonctionnalités de comparaison entre différentes communes ou cantons ?</span>
              <img :class="handleRotate()" src="../Z_Images/checkboxes/down_arrow.png" alt="Show answer button" class="h-5 w-5 ml-5 transform transition-transform duration-500">
            </h2>
            <div class="overflow-hidden max-h-0 duration-500 transition-all" x-ref="tab" :style="handleToggle()">
              <p class="mt-4 mb-2">
                La carte offre une visualisation claire des ROIs par commune, et notre fonction Table permet également de comparer les ROIs par canton, offrant une flexibilité d'analyse approfondie.
              </p>
            </div>
            
          </li>
          <li class="mt-6 mx-2 md:mx-24 lg:mx-72 py-2 px-6 text-justify text-white bg-customTrWhite rounded-lg backdrop-blur-md shadow-md border border-white border-width-1 border-opacity-20" x-data="accordion(5)">
            <h2 @click="handleClick()" class="flex flex-row justify-between items-start py-3 cursor-pointer">
              <span>iMap est-il compatible avec les appareils mobiles ?</span>
              <img :class="handleRotate()" src="../Z_Images/checkboxes/down_arrow.png" alt="Show answer button" class="h-5 w-5 ml-5 transform transition-transform duration-500">
            </h2>
            <div class="overflow-hidden max-h-0 duration-500 transition-all" x-ref="tab" :style="handleToggle()">
              <p class="mt-4 mb-2">
                iMap est accessible sur les appareils mobiles, cependant, pour une expérience optimale, nous recommandons l'utilisation sur ordinateur.
              </p>
            </div>
          </li>

          <li id="contact" class="mt-6 mx-2 md:mx-24 lg:mx-72 py-2 px-6 text-justify text-white bg-customTrWhite rounded-lg backdrop-blur-md shadow-md border border-white border-width-1 border-opacity-20" x-data="accordion(6)">
            <h2 @click="handleClick()" class="flex flex-row justify-between items-start py-3 cursor-pointer">
              <span>Comment vous contacter en cas de besoin ?</span>
              <img :class="handleRotate()" src="../Z_Images/checkboxes/down_arrow.png" alt="Show answer button" class="h-5 w-5 ml-5 transform transition-transform duration-500">
            </h2>
            <div class="overflow-hidden max-h-0 duration-500 transition-all" x-ref="tab" :style="handleToggle()">
              <p class="mt-4 mb-2">
                Pour toute question ou assistance, n'hésitez pas à nous contacter par email : <a href="mailto:immoly.app@gmail.com" class="font-bold hover:underline">immoly.app@gmail.com</a>
                <br> Notre équipe est là pour vous fournir le support dont vous avez besoin.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </faq>




    

  </main>




<%- include('partials/footer'); -%>

<!-- BOUTON FAQ -->
<script>
  document.addEventListener('alpine:init', () => {
    Alpine.store('accordion', {
      tab: 0
    });

    Alpine.data('accordion', (idx) => ({
      init() {
        this.idx = idx;
      },
      idx: -1,
      handleClick() {
        this.$store.accordion.tab = this.$store.accordion.tab === this.idx ? 0 : this.idx;
      },
      handleRotate() {
        return this.$store.accordion.tab === this.idx ? 'rotate-180' : '';
      },
      handleToggle() {
        return this.$store.accordion.tab === this.idx ? `max-height: ${this.$refs.tab.scrollHeight}px` : '';
      }
    }));

    // Fonction pour déclencher l'accordéon
    window.toggleAccordion = function(tab) {
      Alpine.store('accordion').tab = tab;
    };
  });
</script>