<%- include('partials/header', { backgroundClass: 'default-background' }) %>



<main class="container my-auto mx-auto items-center">
          
  <section class="flex flex-col items-center justify-center my-20 lg:my-28 mx-auto p-8 lg:py-0">
    <div class="w-full bg-customTrWhite rounded-2xl backdrop-blur-mg border border-white border-width-1 border-opacity-20">
      <div class="p-6 space-y-6 sm:p-8">
        <h1 class="mb-12 sm:text-left md:text-justify font-satoshi font-black leading-tight text-white text-3xl">
          Mentions Légales
        </h1>
        <div class="">
          <h2 class="mb-4 sm:text-left md:text-justify font-satoshi font-bold leading-tight text-white text-2xl">
            Identification
          </h2>
          <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
            Le site immoly est édité par une personne physique, dont le siège est situé à Gland. Vous pouvez nous contacter par e-mail à immoly.app@gmail.com.
          </h5>
        </div>

        <div class="">
          <h2 class="mb-4 sm:text-left md:text-justify font-satoshi font-bold leading-tight text-white text-2xl">
            Responsabilité
          </h2>
          <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
            La personne physique s'efforce d'assurer au mieux l'exactitude et la mise à jour des informations publiées sur le site iMap. Toutefois, elle ne peut garantir leur exhaustivité, leur précision ou leur absence de modification par un tiers. La personne physique décline toute responsabilité en cas d'erreur, d'inexactitude ou d'omission des informations mises à disposition sur le site.
          </h5>
        </div>

        <div class="">
          <h2 class="mb-4 sm:text-left md:text-justify font-satoshi font-bold leading-tight text-white text-2xl">
            Propriété intellectuelle
          </h2>
          <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
            L'ensemble des contenus du site iMap, incluant textes, images, photographies, logos, marques, vidéos, sons et autres éléments, sont la propriété exclusive de la personne physique ou de ses partenaires, à l'exception des éléments appartenant à des tiers et pour lesquels la personne physique dispose d'une autorisation d'utilisation. Toute reproduction, représentation, diffusion ou rediffusion, en tout ou partie, du contenu du site est interdite sans l'autorisation expresse et préalable de la personne physique propriétaire d'immoly.
          </h5>
        </div>

        <div class="">
          <h2 class="mb-4 sm:text-left md:text-justify font-satoshi font-bold leading-tight text-white text-2xl">
            Hébergement
          </h2>
          <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
            Le site iMap est hébergé par HOSTINGER INTERNATIONAL LTD, dont les coordonnées sont 61 Lordou Vironos Street, 6023 Larnaca, Chypre et joignable via https://www.hostinger.fr/contact.
          </h5>
        </div>

        <div class="">
          <h2 class="mb-4 sm:text-left md:text-justify font-satoshi font-bold leading-tight text-white text-2xl">
            Liens hypertextes
          </h2>
          <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
            Le site peut contenir des liens vers d'autres sites Internet. La personne physique n'assume aucune responsabilité quant au contenu des sites externes ou aux conséquences de leur utilisation.
          </h5>
        </div>

        <div class="">
          <h2 class="mb-4 sm:text-left md:text-justify font-satoshi font-bold leading-tight text-white text-2xl">
            Protection des données personnelles
          </h2>
          <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
            La personne physique s'engage à préserver la confidentialité des informations personnelles fournies par les utilisateurs du site immoly et à les traiter conformément à la loi applicable en matière de protection des données personnelles.
          </h5>
        </div>

        <div class="">
          <h2 class="mb-4 sm:text-left md:text-justify font-satoshi font-bold leading-tight text-white text-2xl">
            Loi applicable et juridiction
          </h2>
          <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
            Les présentes mentions légales sont soumises au droit suisse. En cas de litige, les tribunaux suisses seront compétents.
          </h5>
        </div>

      </div>
    </div>
  </section>


</main>



<%- include('partials/footer'); -%>