<%- include('partials/header', { backgroundClass: 'default-background' }) %>



<!--Main-->
<main class="container my-auto mx-auto items-center">
          
  <section class="flex flex-col items-center justify-center my-48 lg:my-56 sm:mx-5 mx-auto">
    <div class="w-full sm:max-w-md md:max-w-md lg:max-w-lg bg-customTrWhite rounded-2xl backdrop-blur-mg border border-white border-width-1 border-opacity-20">
      <div class="sm:p-6 md:p-9 lg:px-8 lg:py-12 sm:space-y-6 space-y-10">
        <h1 class="text-center justify-center font-bold leading-tight tracking-tight text-white text-2xl">
          Connexion
        </h1>
        <form class="space-y-6" action ="/login"id="login-form">
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-white">Email</label>
            <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="votrenom@email.com" required="">
            <!--avant: email error ici-->
          </div>
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-white">Mot de passe</label>
            <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
            <div class="mt-8 ml-1 text-red-500">
              <div class="password error"></div>
              <div class="email error"></div>
            </div>
          </div>
          <div class="">
            <button type="submit" class="mt-3 sm:mb-8 md:mb-10 w-full text-black bg-white opacity-60 hover:opacity-100 focus:ring-4 focus:outline-none focus:ring-primary-800 font-medium rounded-lg text-sm px-5 py-3 text-center">Se connecter</button>
            <p class="text-center font-light text-gray-500">
              Pas encore de compte ? <a href="/signup" class="font-medium text-primary-500 hover:underline">S'inscrire ici</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </section>


</main>



<%- include('partials/footer'); -%>


<!--Script-->
<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');
  
  form.addEventListener('submit', async (e) => {
      e.preventDefault();

      // reset errors
      emailError.textContent = '';
      passwordError.textContent = '';

      // get values
      const email = form.email.value;
      const password = form.password.value;

      try {
      const res = await fetch('/login', { 
          method: 'POST', 
          body: JSON.stringify({ email, password }),
          headers: {'Content-Type': 'application/json'}
      });

      const data = await res.json();
      console.log(data);
      if (data.errors) {
          emailError.textContent = data.errors.email;
          passwordError.textContent = data.errors.password;
      }
      if (data.user) {
          location.assign('/iMap');
      }

      }
      catch (err) {
      console.log(err);
      }
  });
</script>
