<%- include('partials/header', { backgroundClass: 'default-background' }) %>



<main class="container my-auto mx-auto items-center">
          
  <section class="flex flex-col items-center justify-center my-20 lg:my-28 mx-auto p-8 lg:py-0">
    <div class="w-full bg-customTrWhite rounded-2xl backdrop-blur-mg border border-white border-width-1 border-opacity-20">
      <div class="p-6 space-y-6 sm:p-8">
        <h1 class="mb-12 text-justify font-satoshi font-black leading-tight text-white text-3xl">
          Politique de Confidentialité
        </h1>
        <div class="">
          <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
            Introduction
          </h2>
          <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
            Immoly (ci-après "nous", "notre" ou "nos") s'engage à protéger et à respecter la vie privée des visiteurs de notre site. Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons vos données personnelles lorsque vous interagissez avec notre site.
          </h5>
        </div>

        <div class="">
          <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
            Collecte des données
          </h2>
          <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
            Nous collectons des informations personnelles lorsque vous :<br><br>
            • Vous inscrivez sur notre site<br>
            • Remplissez des formulaires sur notre site<br>
            • Nous contactez via les formulaires de contact<br>
            • Passez une commande<br>
            • Naviguez sur notre site (cookies)<br><br>
            Les données collectées peuvent inclure votre nom, adresse e-mail, numéro de téléphone, adresse postale, informations de paiement et autres informations pertinentes pour votre demande ou votre commande.
          </h5>
        </div>

        <div class="">
          <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
            Utilisation des données
          </h2>
          <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
            Nous utilisons vos données personnelles pour : <br><br>
            • Gérer et traiter votre compte et vos commandes<br>
            • Améliorer notre site et nos services<br>
            • Communiquer avec vous (répondre à vos questions, vous envoyer des informations sur nos produits et services, etc.)<br>
            • Personnaliser votre expérience sur notre site<br>
            • Se conformer à nos obligations légales et réglementaires
          </h5>
        </div>

        <div class="">
          <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
            Partage des données
          </h2>
          <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
            Nous ne vendons ni ne partageons vos données personnelles avec des tiers, sauf si cela est nécessaire pour fournir nos services, se conformer à la loi ou protéger nos droits.
          </h5>
        </div>

        <div class="">
          <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
            Sécurité des données
          </h2>
          <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
            Nous prenons des mesures de sécurité appropriées pour protéger vos données personnelles contre l'accès non autorisé, la divulgation, la modification ou la destruction. Cependant, aucune méthode de transmission ou de stockage sur Internet n'est totalement sécurisée, et nous ne pouvons garantir la sécurité absolue de vos informations.
          </h5>
        </div>

        <div class="">
          <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
            Conservation des données
          </h2>
          <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
            Nous conservons vos données personnelles aussi longtemps que nécessaire pour remplir les objectifs pour lesquels elles ont été collectées, conformément à nos obligations légales et réglementaires.
          </h5>
        </div>

        <div class="">
          <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
            Vos droits
          </h2>
          <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
            Vous avez le droit de demander l'accès, la rectification, la suppression ou la limitation du traitement de vos données personnelles. Vous avez également le droit de vous opposer au traitement de vos données et de demander la portabilité de vos données. Pour exercer ces droits, veuillez nous contacter à immoly.app@gmail.com.
          </h5>
        </div>

        <div class="">
          <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
            Modifications de la politique de confidentialité
          </h2>
          <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
            Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications entreront en vigueur dès leur publication sur notre site. Veuillez consulter régulièrement cette page pour vous informer des mises à jour.
          </h5>
        </div>

        <div class="">
          <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
            Contact
          </h2>
          <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
            Si vous avez des questions ou des préoccupations concernant cette politique de confidentialité, veuillez nous contacter à immoly.app@gmail.com.
          </h5>
        </div>

        <div class="">
          <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
            Loi applicable et juridiction
          </h2>
          <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
            La présente Politique de Confidentialité est régie et interprétée conformément aux lois de la Suisse. Tout litige découlant de ou en relation avec cette politique de confidentialité sera soumis à la compétence exclusive des tribunaux suisses.
          </h5>
        </div>

        <div class="">
          <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
            Cookies
          </h2>
          <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
            Notre site utilise des cookies pour améliorer votre expérience utilisateur et analyser l'utilisation du site. Les cookies sont de petits fichiers texte stockés sur votre appareil lorsque vous visitez notre site. Vous pouvez accepter, refuser ou gérer les cookies en modifiant les paramètres de votre navigateur. Veuillez noter que la désactivation des cookies peut affecter la fonctionnalité de notre site et votre expérience utilisateur.
          </h5>
        </div>

        <div class="">
          <h2 class="mb-4 text-justify font-satoshi font-bold leading-tight text-white text-2xl">
            Liens vers des sites tiers
          </h2>
          <h5 class="mb-10 mx-8 text-justify font-satoshi font-medium text-lg text-zinc-300">
            Notre site peut contenir des liens vers des sites tiers. Nous ne sommes pas responsables des politiques de confidentialité et des pratiques de ces sites. Il est recommandé de lire attentivement la politique de confidentialité de chaque site que vous visitez.<br><br>
            En utilisant notre site, vous acceptez les termes de cette politique de confidentialité. Si vous n'êtes pas d'accord avec cette politique, veuillez ne pas utiliser notre site.
          </h5>
        </div>

      </div>
    </div>
  </section>


</main>



<%- include('partials/footer'); -%>